crates/rumoca/assets/efmi-schemas/BehavioralModel/efmiClocks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	
	<xs:complexType name="efmiClocks">
		<xs:sequence>
			<xs:element name="Clock" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
					<xs:attribute name="samplingPeriod" type="xs:normalizedString" use="required">
						<xs:annotation>
							<xs:documentation>
								The sample period sb must be such that for all  test scenarios using the clock,
								for all 1 ≤ i ≤ number of samplings of the scenario, sb is in range
								  [ i*sa - 0.05*sa, i*sa + 0.05*sa ]
								where sa is the sample period of the linked Algorithm Code manifest.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="unitRefId" type="efmiIdentifierType" use="required">
						<xs:annotation>
							<xs:documentation>Unit of samplingPeriod.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>