crates/rumoca/assets/efmi-schemas/BinaryCode/efmiBuildInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiFiles.xsd"/>
	<xs:include schemaLocation="../efmiCompilerOptions.xsd"/>
	<xs:include schemaLocation="../efmiLinkerOptions.xsd"/>
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	<xs:element name="BuildConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Compiler" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="Linker" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="CompilerOptionSets" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="DefaultCompilerOptions" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="LinkerOptionSet" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="CompileTarget" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Compiler">
		<xs:complexType>
			<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
			<xs:attribute name="vendor" type="xs:normalizedString" use="required"/>
			<xs:attribute name="name" type="xs:normalizedString" use="required"/>
			<xs:attribute name="version" type="xs:normalizedString" use="required"/>
			<xs:attribute name="executableName" type="xs:normalizedString" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Linker">
		<xs:complexType>
			<xs:attribute name="vendor" type="xs:normalizedString" use="required"/>
			<xs:attribute name="name" type="xs:normalizedString" use="required"/>
			<xs:attribute name="version" type="xs:normalizedString" use="required"/>
			<xs:attribute name="executableName" type="xs:normalizedString" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompilerOptionSets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompilerOptionSet" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="CompilerOptions" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
						<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
						<xs:attribute name="compilerRefId" type="efmiIdentifierType" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompileTarget">
		<xs:complexType>
			<xs:attribute name="vendor" type="xs:normalizedString" use="required"/>
			<xs:attribute name="targetName" type="xs:normalizedString" use="required"/>
			<xs:attribute name="chipVersion" type="xs:normalizedString" use="required"/>
			<xs:attribute name="instructionSetArchitecture" type="xs:normalizedString" use="required"/>
			<xs:attribute name="endianess" type="xs:normalizedString" use="required"/>
			<xs:attribute name="registerWidth" type="xs:integer" use="required"/>
			<xs:attribute name="addressWidth" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LinkerOptionSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LinkerOptions" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FileReference" minOccurs="0" maxOccurs="1"/>
				<!-- Kind of file is LinkerScript -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultCompilerOptions">
		<xs:complexType>
			<xs:attribute name="compilerOptionsRefId" type="efmiIdentifierType" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
