crates/rumoca/assets/efmi-schemas/BinaryCode/efmiRunTimeComplianceInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiManifestReferences.xsd"/>
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	<xs:element name="RunTimeComplianceInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RunTimeCompliance" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RunTimeCompliance">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ForeignFunctionReference" type="ForeignReference" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" type="efmiIdentifierType"/>
			<xs:attribute name="wcExecTime" type="xs:normalizedString" use="required"/>
			<xs:attribute name="wcStackSize" type="xs:normalizedString" use="required"/>
			<xs:attribute name="wcMemSize" type="xs:normalizedString" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
