crates/rumoca/assets/efmi-schemas/BinaryCode/efmiObjectFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiFiles.xsd"/>
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	<xs:include schemaLocation="../efmiManifestReferences.xsd"/>
	<xs:element name="ObjectFile">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>File consisting of object code.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="FileReference" minOccurs="1" maxOccurs="1"/>
				<!-- Kind of file is either RelocatableObjectFile or ExecutableObjectFile -->
				<xs:element name="ForeignSourceFileReference" type="ForeignReference" minOccurs="1" maxOccurs="unbounded"/>
				<!-- The presence of the actual source files in the Production code container 
					is not required. The manifest information, however, is. -->
			</xs:sequence>
			<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
