crates/rumoca-efmi/assets/efmi-schemas/efmiLinkerOptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="efmiManifestReferences.xsd"/>
	<xs:include schemaLocation="efmiFiles.xsd"/>
	<xs:include schemaLocation="efmiIdentifierType.xsd"/>
	<xs:element name="LinkerOptions">
		<xs:annotation>
			<xs:documentation>List of Linker Options for Binary Code.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<!-- have it as generic as possible we expect all to be referenceable key-value pairs -->
					<!-- however since they might be treated differently, we want to have different tag names-->
					<xs:element name="LinkerSwitch" type="LinkerOptionType"/>
					<xs:element name="AdditionalLibraryDirectory" type="LinkerOptionType"/>
					<xs:element name="Library" type="LinkerOptionType"/>
					<!-- to avoid redundancy, linker options can be referenced -->
					<!-- a Binary Code manifest could reference options from the Prduction code Manifest -->
					<xs:element name="LinkerOptionReference">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ForeignLinkerOptionReference" type="ForeignReference"/>
							</xs:sequence>
							<xs:attribute name="index" use="required">
								<xs:annotation>
									<xs:documentation>Index of the linker option in the list of options (first linker option = 1, second linker option = 2, etc). The indices of the choice elements of each &#39;LinkerOptions&#39; must be consecutive, unique and one element must have index 1.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="LinkerOptionType">
		<xs:attribute name="index" use="required">
			<xs:annotation>
				<xs:documentation>Index of the linker option in the list of options (first linker option = 1, second linker option = 2, etc). The indices of the choice elements of each &#39;LinkerOptions&#39; must be consecutive, unique and one element must have index 1.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
		<xs:attribute name="name" type="xs:normalizedString" use="required"/>
		<xs:attribute name="value" type="xs:normalizedString" use="optional"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
		<xs:attribute name="optional" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
</xs:schema>
