crates/rumoca-efmi/assets/efmi-schemas/ProductionCode/efmiFunctions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiAnnotation.xsd"/>
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	<xs:include schemaLocation="efmiVariables.xsd"/>
	<xs:element name="Functions">
		<xs:annotation>
			<xs:documentation>List of functions in C code.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Function" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Annotations" type="efmiAnnotation" minOccurs="0" maxOccurs="1"/>
							<xs:element ref="ReturnParameter" minOccurs="1" maxOccurs="1"/>
							<xs:element ref="FormalParameters" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
						<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
						<xs:attribute name="name" type="xs:normalizedString" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FormalParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FormalParameter" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>Formal parameter of function.</xs:documentation>
						</xs:annotation>
						<xs:sequence>
							<xs:element name="Annotations" type="efmiAnnotation" minOccurs="0" maxOccurs="1"/>
							<xs:element ref="Dimensions" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
						<xs:attribute name="name" type="xs:normalizedString" use="required"/>
						<xs:attribute name="number" type="xs:integer" use="required"/>
						<xs:attributeGroup ref="FunctionParameterAttributes"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReturnParameter">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Return parameter of function.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="Annotations" type="efmiAnnotation" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Dimensions" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attributeGroup ref="FunctionParameterAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="FunctionParameterAttributes">
		<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
		<xs:attribute name="typeDefRefId" type="efmiIdentifierType" use="required"/>
		<xs:attribute name="min" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>Value constraint</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="max" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>Value constraint</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="const" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="pointer" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="constPointer" type="xs:boolean" use="optional" default="false"/>
	</xs:attributeGroup>
</xs:schema>
