crates/rumoca/assets/efmi-schemas/efmiManifestReferences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="efmiIdentifierType.xsd"/>
	<xs:element name="ManifestReferences">
		<xs:annotation>
			<xs:documentation>List of manifest references of
other model representations in
the eFMU container.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ManifestReference">
					<xs:complexType>
						<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
						<xs:attribute name="manifestRefId" type="efmiManifestIdentifierType" use="required">
							<xs:annotation>
								<xs:documentation>References a manifest using the Manifest element's "id" attribute.
For instance, the production code manifest references the algorithm
code manifest. The Id is NOT listed in the __content.xml of the
eFMU container. Hence, resolving references requires reading a
manifest file included in the container. Finally, the Id of a manifest
file is its UUID.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="checksum" type="xs:normalizedString" use="required">
							<xs:annotation>
								<xs:documentation>Expected SHA-1 hash -- according to the Secure Hash Standard (SHS), FIPS PUB 180-4 -- of the binary content of the referenced manifest. Used to decide if this container is stale.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="origin" type="xs:boolean" use="optional" default="false">
							<xs:annotation>
								<xs:documentation>Indicates if the referenced manifest is the origin manifest. There
must be one and only one manifest referenced marked as origin.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ForeignReference">
		<xs:annotation>
			<xs:documentation>General element to reference items in other manifests.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="manifestReferenceRefId" type="efmiIdentifierType" use="required"/>
		<xs:attribute name="foreignRefId" type="efmiIdentifierType" use="required"/>
	</xs:complexType>
</xs:schema>
