crates/rumoca/assets/efmi-schemas/efmiIdentifierType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="efmiBaseIdentifierType">
		<xs:annotation>
			<xs:documentation>Super type for all identifiers used in eFMU schema definitions. Should not be used directly, but one of the sub types.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-zA-Z0-9]|&#x0023;|&#x0027;|\&#x0028;|\&#x0029;|&#x002C;|\&#x002D;|\&#x002E;|&#x002F;|&#x003A;|\&#x005B;|\&#x005D;|&#x005F;|\&#x007B;|\&#x007D;)+"/>
			<!--
				&#x0023		hashtag
				&#x0027;	tick
				\&#x0028;	round bracket open
				\&#x0029;	round bracket close
				&#x002C;	comma
				\&#x002D;	dash
				\&#x002E;	dot
				&#x002F;	slash
				&#x003A;	colon
				\&#x005B;	square bracket open
				\&#x005D;	square bracket close
				&#x005F;	underscore
				\&#x007B;	brace open
				\&#x007D;	brace close
			-->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="efmiManifestIdentifierType">
		<xs:annotation>
			<xs:documentation>Sub type used for manifest identifiers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="efmiBaseIdentifierType">
			<xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="efmiIdentifierType">
		<xs:annotation>
			<xs:documentation>Sub type for all identifiers except manifest identifiers.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="efmiBaseIdentifierType"/>
	</xs:simpleType>
</xs:schema>