crates/rumoca/assets/efmi-schemas/ProductionCode/efmiMacros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiAnnotation.xsd"/>
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	<xs:element name="Macros">
		<xs:annotation>
			<xs:documentation>List all macro definitions in the source and header file of the module that are relevant to integrate the code. E.g. system constants used to define integration relevant vector variables must be part of the list, whereas macros in the code used as guards must not be part of the list.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ValueMacro" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Annotations" type="efmiAnnotation" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
						<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
						<xs:attribute name="name" type="xs:normalizedString" use="required"/>
						<xs:attribute name="value" type="xs:normalizedString" use="required"/>
						<!-- type is integer or real number -->
					</xs:complexType>
				</xs:element>
				<xs:element name="ParameterizedMacro" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Annotations" type="efmiAnnotation" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Result" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="typeDefRefId" type="efmiIdentifierType" use="required"/>
									<xs:attribute name="pointer" type="xs:boolean" use="optional" default="false"/>
									<xs:attribute name="descr" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Parameters" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Parameter" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="number" type="xs:integer" use="required"/>
												<xs:attribute name="name" type="xs:normalizedString" use="required"/>
												<xs:attribute name="typeDefRefId" type="efmiIdentifierType" use="optional"/>
												<xs:attribute name="pointer" type="xs:boolean" use="optional" default="false"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
						<xs:attribute name="name" type="xs:normalizedString" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
