crates/rumoca/assets/efmi-schemas/ProductionCode/efmiTechnicalLookUps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	<xs:element name="TechnicalInformationLookUps">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Used to access technical data in centralized way, that is more conveniant as to iterate the whole xml file. For example, there might be a list of all typedefs in all files or a list of all global accessable data elements.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="DeclaredTypedefs" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>List of references to typedef statements in all files.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeclaredTypedef" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="typeDefRefId" type="efmiIdentifierType" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GlobalAccessableDataElements" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>List of references to global accessible variables in all files.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GlobalAccessableDataElement" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="variableRefId" type="efmiIdentifierType" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- More lists may be added during development of specification. -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
