crates/rumoca/assets/efmi-schemas/ProductionCode/efmiDimensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	<xs:element name="Dimensions">
		<xs:annotation>
			<xs:documentation>Dimensions are used for variables and typedefs.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dimension" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>Either the dimension has a fixed size or references a macro carrying a value, representing a system constant.</xs:documentation>
						</xs:annotation>
						<xs:attribute name="number" type="xs:integer" use="required"/>
						<xs:attribute name="size" type="xs:integer" use="optional"/>
						<xs:attribute name="valueMacroRefId" type="efmiIdentifierType" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
