crates/rumoca-efmi/assets/efmi-schemas/BehavioralModel/efmiCsvMappings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	
	<xs:complexType name="efmiCsvMappings">
		<xs:sequence>
			<xs:element name="CsvMapping" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TimeData" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:attribute name="columnName" type="xs:string" use="required"/>
								<xs:attribute name="unitRefId" type="efmiIdentifierType" use="required">
									<xs:annotation>
										<xs:documentation>Unit of reference time grid.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="ReferenceData" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ColumnMapping" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="elementIndex" type="xs:unsignedInt" use="optional"/>
											<xs:attribute name="unitRefId" type="efmiIdentifierType" use="optional">
												<xs:annotation>
													<xs:documentation>Unit of reference trajectory.
In case of multi-dimensional
variable, overrides any given
default for the element-index.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="columnName" type="xs:normalizedString" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="variableRefId" type="efmiIdentifierType" use="required"/>
								<xs:attribute name="unitRefId" type="efmiIdentifierType" use="optional">
									<xs:annotation>
										<xs:documentation>Default unit of all trajectories of multi-dimensional variable.
Must not be given in case of scalar.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>