crates/rumoca-efmi/assets/efmi-schemas/BehavioralModel/efmiBehavioralModelManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiManifestAttributes.xsd"/>
	<xs:include schemaLocation="../efmiModelRepresentationKind.xsd"/>
	<xs:include schemaLocation="../efmiManifestReferences.xsd"/>
	<xs:include schemaLocation="../efmiFiles.xsd"/>
	<xs:include schemaLocation="../efmiUnits.xsd"/>
	<xs:include schemaLocation="./efmiClocks.xsd"/>
	<xs:include schemaLocation="./efmiVariables.xsd"/>
	<xs:include schemaLocation="./efmiScenarios.xsd"/>
	<xs:include schemaLocation="./efmiCsvMappings.xsd"/>
	<xs:include schemaLocation="./efmiTolerancesSetups.xsd"/>
	<xs:include schemaLocation="../efmiAnnotation.xsd"/>
	
	<xs:element name="Manifest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ManifestReferences" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Reference to Algorithm Code manifest.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Files" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Units" type="efmiUnits" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Clocks" type="efmiClocks" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Variables" type="efmiVariables" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Scenarios" type="efmiScenarios" minOccurs="1" maxOccurs="1"/>
				<xs:element name="CsvMappings" type="efmiCsvMappings" minOccurs="1" maxOccurs="1"/>
				<xs:element name="TolerancesSetups" type="efmiTolerancesSetups" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Annotations" type="efmiAnnotation" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="kind" type="ModelRepresentationKind" use="required" fixed="BehavioralModel"/>
			<xs:attributeGroup ref="efmiManifestAttributesBase"/>
		</xs:complexType>
	</xs:element>
</xs:schema>