crates/rumoca-efmi/assets/efmi-schemas/BehavioralModel/efmiVariables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../efmiManifestReferences.xsd"/>
	<xs:include schemaLocation="../efmiIdentifierType.xsd"/>
	
	<xs:complexType name="efmiVariables">
		<xs:sequence>
			<xs:element name="Variable" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ForeignVariableReference" type="ForeignReference" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
					<xs:attribute name="id" type="efmiIdentifierType" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>